<mat-toolbar color="primary" class="footer-toolbar">
  <div class="footer-content">
    <div class="footer-left">
      <span class="copyright">
        © {{ currentYear }} ENICARTHAGE Library Management System. All rights reserved.
      </span>
    </div>
    
    <div class="footer-center">
      <div class="social-links">
        <button mat-icon-button color="accent" title="Facebook">
          <mat-icon>facebook</mat-icon>
        </button>
        <button mat-icon-button color="accent" title="Twitter">
          <mat-icon>twitter</mat-icon>
        </button>
        <button mat-icon-button color="accent" title="LinkedIn">
          <mat-icon>linkedin</mat-icon>
        </button>
        <button mat-icon-button color="accent" title="Email">
          <mat-icon>email</mat-icon>
        </button>
      </div>
    </div>
    
    <div class="footer-right">
      <span class="version">v1.0.0</span>
    </div>
  </div>
</mat-toolbar>